{% load i18n modeladmin_tags wagtailadmin_tags %}
<header class="merged no-border nice-padding no-v-padding">
    {% include "treemodeladmin/includes/breadcrumb.html" %}
</header>
<header class="hasform">
            <div class="row nice-padding">
                <div class="left header-left">
                    <div class="col header-title">
                        {% block h1 %}
                          <h1>
                              {% if view.header_icon %}{% icon name=view.header_icon class_name="header-title-icon" %}{% endif %}
                              {{ view.get_page_title }}
                              {% if view.get_page_subtitle %} <span>{{ view.get_page_subtitle }}</span> {% endif %}
                              {% include 'modeladmin/includes/result_count.html' %}
                            </h1>
                        {% endblock %}
                </div>
      {% block search %}{% search_form %}{% endblock %}
    </div>

        
  <div class="right header-right">
    {% if user_can_create %}
        <div class="actionbutton">
              {% include 'modeladmin/includes/button.html' with button=view.get_parent_edit_button %}

        {% include 'modeladmin/includes/button.html' with button=view.get_add_button_with_parent %}
        </div>
    {% endif %}

   </div>  
    {% block header_extra %}
    {% if user_can_create %}
    <div class="right">
      <div class="addbutton">
      </div>
    </div>
    {% endif %}
    {% endblock %}
  </div>
</header>
